{:source-paths ["src"]
 :dev-http     {8080 ["public" "classpath:public"]}
 :dependencies [[org.clojure/core.async "1.8.741"]
                [no.cjohansen/replicant "2025.12.1"]
                [no.cjohansen/portfolio "2025.11.2"]]
 :builds       {:app       {:target     :browser
                            :output-dir "public/js/app/"
                            :asset-path "/js/app/"
                            :modules    {:main {:init-fn cljs-switch-proxy.core/main}}}
                :portfolio {:target     :browser
                            :output-dir "public/js/portfolio/"
                            :asset-path "/js/portfolio/"
                            :modules    {:main {:init-fn cljs-switch-proxy.portfolio/main}}}}}
